
<footer class="@ViewBag.FooterClass">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">
                    Copyright &copy; @DateTime.Now.Year Zeus Pvt Ltd. All rights reserved.
                </span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>

                        <a href="https://www.facebook.com/Zeuspvtltd/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/115798558354778694399/posts" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCgoT5hDQEPQBo1XXwFRvbbA" target="_blank"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li>
                        <a href="~/Home/PrivacyPolicy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="~/Home/Legaldisclaimer">Legal disclaimer</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
