@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> MY Account <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
            <li><a class="text-center" style="font-size: 13px;" href="orderhistory.php"> Order History </a></li>
            <li><a class="text-center" style="font-size: 13px;" href="editclient.php"> Edit your details </a></li>
            <li><a class="text-center" style="font-size: 13px;" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </li>
}
else
{
    <li>@Html.ActionLink("Login In", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "page-scroll", id = "loginLink" })</li>
}
