@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminLogin</title>
</head>
<body>
    <div>
        <h4>Use a Admin account to log in.</h4>
    </div>
</body>
</html>
