
@{
    ViewBag.Title = "Privacy Policy";
}


<!-- Navigation -->
@Html.Partial("_UserNavBarStatic")

<div class="container">
    <div class="row content_top">
        <div class="col-xs-12">
            <!-- Main content -->
            <section class="content">

                <h2 class="privacy_header">Privacy Policy</h2>

                <article>
                    <h4> Your Personal Information </h4>
                    <p>We at Zeus.com recognize your right to confidentiality and are committed to protecting your privacy. We use the information that we collect on our site to provide you with a superior shopping experience. When you order, we will ask you to set up "your account," which includes your name, e-mail address and delivery address as well as certain other information when you order Nutrition.</p>

                    <p>We protect your account information against unauthorized access or release. We will not give any identifiable personal information to any third party, unless we are legally required to do so.</p>
                </article>

                <article>
                    <h4> Security </h4>
                    <p>When you place an order online, your personal information is encrypted using SSL encryption technology before being sent over the Internet, making it virtually impossible for your information to be stolen or intercepted while being transferred to Zeus.com.</p>
                </article>

            </section><!-- /.content -->
        </div>
    </div>
</div>


<!--   Footer Section -->
@{
    ViewBag.FooterClass = "static-footer";
}
@Html.Partial("_Footer")
